<!DOCTYPE HTML>
<%#include "fortune.h" %>
<% tfetch(Fortune, fortune); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Fortune</h1>
<dt>ID</dt><dd><%= fortune.id() %></dd><br />
<dt>Message</dt><dd><%= fortune.message() %></dd><br />

<%== linkTo("Edit", urla("edit", fortune.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
