<!DOCTYPE HTML>
<%#include "world.h" %>
<% tfetch(World, world); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing World</h1>
<dt>ID</dt><dd><%= world.id() %></dd><br />
<dt>Randomnumber</dt><dd><%= world.randomnumber() %></dd><br />

<%== linkTo("Edit", urla("edit", world.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
